{% if currencies|length > 1 %}
	<li>
		<div class="header-dropdown" {{ sylius_test_html_attribute('currency-selector') }}>
			<a href="#">{{ active }}</a>
			<div class="header-menu">
				<ul>
					{% for code in currencies %}
						{% if code is not same as(active) %}
							<li>
								<a href="{{ path('sylius_shop_switch_currency', {'code': code}) }}" {{ sylius_test_html_attribute('available-currency') }}>
									{{ code }}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</li>
{% endif %}
