{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="dropdown-menu dropdown-menu-right">
	{% if cart.empty %}
        <p>{{ 'sylius.ui.your_cart_is_empty'|trans }}.</p>
	{% else %}
		<div class="dropdown-cart-products">
			{% for item in cart.items %}
				<div class="product">
					<div class="product-cart-details">
						<h4 class="product-title">
							<a href="#">{{ item.product }}</a>
						</h4>

						<span class="cart-product-info">
							<span class="cart-product-qty">{{ item.quantity }}</span>
							x {{ money.convertAndFormat(item.unitPrice) }}
						</span>
					</div>
				</div>
			{% endfor %}

		<div class="dropdown-cart-total">
			<span>{{ 'sylius.ui.subtotal'|trans }}</span>

			<span class="cart-total-price">{{ money.convertAndFormat(cart.itemsTotal) }}</span>
		</div>

		<div class="dropdown-cart-action">
			<a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-primary">{{ 'sylius.ui.view_cart'|trans }}</a>
			<a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-outline-primary-2">
				<span>{{ 'sylius.ui.checkout'|trans }}</span>
				<i class="icon-long-arrow-right"></i>
			</a>
		</div>
	{% endif %}
</div>
