<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
	<head>
		<!-- Matomo Tag Manager -->
		<script>
			var _mtm = window._mtm = window._mtm || [];
_mtm.push({
'mtm.startTime': (new Date().getTime()),
'event': 'mtm.Start'
});
var d = document,
g = d.createElement('script'),
s = d.getElementsByTagName('script')[0];
g.async = true;
g.src = 'https://matomo.camer100.com/js/container_MoMOMeyd.js';
s.parentNode.insertBefore(g, s);
		</script>
		<!-- End Matomo Tag Manager -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}
				{% include "bundles/sylius-seo-plugin/Shop/Header/_title.html.twig" with {
            resource: product ?? sylius.channel
        } %}

			{% endblock %}
		</title>
		{% block metatags %}
			{{ sylius_template_event('dedi_sylius_seo_plugin.metatags', { resource: product ?? sylius.channel }) }}
			{{ sylius_template_event('dedi_sylius_seo_plugin.rich_snippets') }}
		{% endblock %}

		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">

		{% block stylesheets %}
			<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

			<style>
				.bitbag-page a,
				.bitbag-page a:hover {
					color: rgba(0, 0, 0, 0.87);
					width: 100%;
				}

				.bitbag-image-block a,
				.bitbag-image-block a:hover,
				.bitbag-image-block a:focus {
					color: #333333;
				}

				.top.one {
					margin-top: 1rem;
				}

				.bitbag-page,
				.bitbag-frequently-asked-question {
					padding-top: 1rem;
					padding-bottom: 1rem;
					border-bottom: 1px solid rgba(34, 36, 38, 0.15);
				}

				.bitbag-page:hover {
					background: rgba(0, 0, 0, 0.03);
				}

				.italic {
					font-style: italic;
				}

				.intro {
					text-align: center;
					text-transform: uppercase;
					font-weight: 900;
				}

				.intro.promo {
					text-align: center;
					text-transform: none;
					font-weight: 900;
					font-size: 20px;
				}

				.ui.menu .item > .label.credentials {
					font-size: 14px;
				}

				.cms-logo {
					margin-top: 20px;
					margin-bottom: 20px;
				}

				pre {
					overflow: auto;
				}
			</style>

			{{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
			{{ sylius_template_event('sylius.shop.layout.stylesheets') }}
		{% endblock %}

		{{ sonata_block_render_event('sylius.shop.layout.head') }}
	</head>

	<body>
		{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
		<div class="page-wrapper">
			<header class="header header-10 header-intro-clearance">
				{% block top %}
					<div class="header-top">
						<div class="container">
							{% include '@SyliusShop/Menu/_phone.html.twig' %}


							<div class="header-right">

								<ul class="top-menu">
									<li>
										<a href="#">{{ 'molla.ui.links'|trans }}</a>
										<ul>
											{{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

											{{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
											{{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

											{{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

											{{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

											{{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				{% endblock %}

				{% block header %}
					<header>
						{% include '@SyliusShop/_header.html.twig' %}

						{{ sonata_block_render_event('sylius.shop.layout.after_header') }}

						{% include '@SyliusShop/_headerBottom.html.twig' %}

					</header>
				{% endblock %}
				{% include '@SyliusUi/_flashes.html.twig' %}

			</header>
			<main class="main">

				{{ sonata_block_render_event('sylius.shop.layout.before_content') }}

				{% block content %}{% endblock %}

				{{ sonata_block_render_event('sylius.shop.layout.after_content') }}
			</main>

			{% block footer %}
				{% include '@SyliusShop/_footer.html.twig' %}
			{% endblock %}
		</div>

		{{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'menu_category', 'template': '@SyliusShop/Taxon/_mobileMenu.html.twig'})) }}

		{% block javascripts %}
			{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
			{{ sylius_template_event('sylius.shop.layout.javascripts') }}
			{{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
		{% endblock %}

		{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
		{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
	</body>
</html>
